@font-face {
  font-family: Prime;
  src: url(../fonts/Prime.otf);
}

:root {
  --primary-color: #ffffff;
  /*
  por defecto
  --primary-color: #e6e6e6;*/
}

* {
  margin: 0;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Prime;
  line-height: 1.5;
}

body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  /*background-color:black;*/
  /*background-color: var(--primary-color);*/
  /*background-image: url("../img/starfield_compass.svg");*/
  background-image: url("https://picsum.photos/200/300?random=13");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.custom_text_container {
  position: relative;
  width: 100%;
  bottom: 30px; 
  height: auto;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title {
  font-size: 32px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

/*info de cpu y gpu*/
.info_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  text-align: center;
  margin-top: 5px;
}

.info_container {
  color: var(--primary-color);
}

/*letras de cpu y gpu*/
.info_container .info {
  font-size: 35px;
  font-weight: 800;
}


.divider {
  height: 50px;
  border: 1px solid var(--primary-color);
  opacity: 50%;
}


/*
p{ mirar en codepen algo
  text-shadow: 1px 1px 2px black, 0 0 1px blue, 0 0 0.2px blue;
}*/

/*oscurecer imagenes*/

#imagen {
  /* Reemplaza 'myElement' con el ID de tu elemento */
  position: relative;
  background-size: cover;
  transition: background-image 2s ease-in;
}

#imagen::before {
  /* Crea una pseudo-elemento para la superposición */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  /* Superposición negra con 50% de opacidad */
}